body {
  background: rgb(140, 146, 176);
  background: linear-gradient(
    90deg,
    rgba(140, 146, 176, 0.9332107843137255) 2%,
    rgba(59, 82, 193, 1) 33%,
    rgba(67, 96, 226, 1) 53%,
    rgba(46, 60, 126, 1) 79%
  );
}

#container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: auto;
  align-items: center;
  height: 90%;
  width: 85%;
  margin: auto;
  /* margin-bottom: auto;
  margin-left: auto;
  margin-right: auto; */
  overflow: auto;
  border-radius: 20px;
  background-color: rgba(245, 245, 245, 0.568);
}

#header {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-weight: 80em;
  font-size: 75px;
  color: silver;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 15px;
  background-color: rgb(17, 11, 105);
}

#tasksUL {
  display: flex;
  flex-direction: column;
  list-style: upper-roman;
  font-size: 50px;
  padding: auto;
  align-items: center;
  height: 600px;
  width: 75%;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(223, 226, 240);
  border-style: groove;
  border-width: 20px;
  border-radius: 15px;
  border-color: rgb(17, 11, 105);
}

#submitButton {
  font-size: 30px;
  margin: auto;
  background-color: darkturquoise;
  border-radius: 15px;
}

#taskName {
  font-size: 30px;
  margin: auto;
  border-radius: 15px;
}

#priorityDropdown {
  background-color: rgb(173, 152, 251);
  font-size: 30px;
  margin: auto;
  border-radius: 15px;
}

#addTask {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  margin-top: auto;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: rgb(199, 195, 221);
  /* opacity: 0.5; */
}

#deleteButton {
  font-size: 30px;
  color: aliceblue;
  padding: 15px;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 15px;
  background-color: rgb(30, 30, 31);
}
